<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://maycur.com/mobile/plugins/1.0"
        id="maycur-plugin-external-browser" version="1.0.0">
    <name>External Browser</name>
    <description>Maycur External Browser Plugin</description>
    <license>Maycur</license>
    <keywords>maycur,browser</keywords>

    <js-module src="www/ExternalBrowser.js" name="ExternalBrowser">
            <clobbers target="maycur.externalBrowser" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalBrowser">
                <param name="android-package" value="com.maycur.plugin.Browser"/>
            </feature>
        </config-file>

        <source-file src="src/android/Browser.java" target-dir="src/com/maycur/plugin" />
    </platform>
</plugin>